.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 15dvh;
}

.contact{
    display: flex;
    width: 15dvw;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    font-weight: 400;
    font-size: 18px;
    padding: 0.75rem;
    border:solid;
    border-radius: 50px;
    border-color: #6E07F3;
    color: #6E07F3;
}

.image-logo{
    height: 100%;
}

.fixed-section{
    width: 50%;
}

.section-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.title-name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-media{
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-around;
    list-style: none;
    width: 15dvh;
}

.social-media li {
    width: 5dvh;
}

.github-icon{
    display: none;
}