body, html{
    margin: auto;
    padding: auto;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0dvh 5dvw;
}

.logo{
    height: 15dvh;
}

.contact{
    display: flex;
    width: 15dvw;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    font-weight: 400;
    font-size: 18px;
    padding: 0.75rem;
    border:solid;
    border-radius: 50px;
    border-color: #fff;
    background: linear-gradient(to right, rgb(135, 206, 250), rgb(0, 70, 140));

}

.image-logo{
    height: 100%;
}

.fixed-section{
    width: 50%;
}

.section-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.title-name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-media{
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-around;
    list-style: none;
    width: 15dvh;
}

.social-media li {
    width: 5dvh;
}

.github-icon{
    display: none;
}

.center-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-section{
    background:linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230)); ;
    display: flex;
}